
@mixin center {
  margin-left: auto;
  margin-right: auto;
}
@mixin bg($background, $bg_color: false, $bg_size: false, $bg_pos: false) {
  background-image: url($background);
  background-repeat: no-repeat;
  @if $bg_size {
    background-size: $bg-size;
  }
  @if $bg_color {
    background-color: $bg_color;
  }
  @if $bg_pos {
    background-position: $bg_pos;
  }
}
$color_red: rgb(250, 82, 82);

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", serif;
  background-color: #333333;
  text-align: center;

}
.d-flex {
  display: flex;
}
* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 450px;
  height: 450px;
  background-color: #fff3cd;
  .square {
    margin: 15px;
    border: 1px SOLID #333;
    border-radius: 15px;
    height: 118px;
    width: 118px;
    background: #fff;
    position: relative;
    overflow: hidden;
    #actCnt {
      position: absolute;
      border: 1px SOLID #f1b0b7;
      border-radius: 10px;
      margin: 1px;
      background-color: #f1b0b7;
      cursor: pointer;
    }
  }
}

